html{
  height:100%;
}
*{
  padding: 0;
  margin: 0;
}
body{
 background-color: lightgrey;
  width: 100%;
  height: 80%;
}
#live-viewer{
  background-color: white;
  border: none;
  margin: 10px;
  width: 100%;
  height: 90%;
}
#editor{
  margin: 10px;
  width: 100%;
  height: 88.5%;
  padding: 5px;
  border: none;
}
.main{
  display: inline-flex;
  height: 100%;
  width: 100%;
}
