html{
  height:100%;
}
*{
  padding: 0;
  margin: 0;
}
body{
 background: linear-gradient(to bottom, black, dimgrey);
  width: 100%;
  height: 80%;
}
#live-viewer{
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  width: 100%;
  height: 90%;
}
#editor{
  margin: 10px;
  width: 100%;
  height: 88.5%;
  padding: 5px;
  border: 2px solid black;
}
.main{
  display: inline-flex;
  height: 100%;
  width: 100%;
}
.but{
  font-size: 20;
}
#reem:hover{
  background-color: white;
}
.header{
  padding: 1px;
  background: linear-gradient(to bottom, black, grey);
}
p{
  color: lime; 
  font-family: "Arial";
  font-size: 30px;
  margin: 15px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  word-spacing: 5px;
  letter-spacing: 4px;
  animation: a 5s steps(60, end); 
}
p a{
  color: white;
}

span{
  animation: b 1s infinite;
}

@keyframes a{ 
  from { width: 0; } 
}  

@keyframes b{
  to{opacity: 0;}
}
